a {
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
}

/* Hero section CSS */

.hero_section_background {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(75%) contrast(125%);
  height: 37rem;
}
.hero_navigation_btn {
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  margin-top: 16rem;
  background-color: rgb(112, 113, 113) !important;
}
.hero_section_text_div {
  position: absolute;
  top: 11rem;
  width: 100%;
  padding: 0rem 11rem;
}
.hero_section_text {
  font-size: 4rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.hero_section_btn_div {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section_btn {
  background: #ffc107;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #01223f;
  cursor: pointer;
}

span.hero_section_btn:hover {
  background-color: #01223f;
  color: #ffc107;
  transition: 0.3s ease-in;
}

/* Section 2 CSS (cards) */

.card_section_main_div {
  display: flex;
  gap: 1rem;
  padding: 0rem 4rem;
  background: transparent;
  width: 100%;
  margin-top: -4rem;
  margin-bottom: 4rem;
}
.card_section_sub_div1 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  width: 33%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  filter: drop-shadow(0px 6px 8px #e8e3e3);
}
.fa-laptop {
  color: #ffc107;
  font-size: 2rem;
  padding: 1rem;
}
.fa-users {
  color: #ffc107;
  font-size: 2rem;
  padding: 1rem;
}
.fa-book {
  color: #ffc107;
  font-size: 2rem;
  padding: 1rem;
}
.card_section_heading {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.025rem;
  text-align: center;
}
.card_section_paragraph {
  text-align: center;
  color: #767879;
}
.card_section_btn {
  background: #ffc107;
  padding: 10px 28px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #01223f;
  cursor: pointer;
  margin: 0px 0;
}

span.card_section_btn:hover {
  background-color: #01223f;
  color: #ffc107;
  transition: 0.3s ease-in;
}
@media (min-width: 768px) and (max-width: 1025px) {
  /* Hero section CSS */

  .hero_section_text_div {
    width: 97%;
    padding: 0rem 6rem;
  }
  .hero_section_text {
    font-size: 5vw;
    text-align: center;
    letter-spacing: 1vh;
  }
  .hero_section_btn {
    font-size: 2vw;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* Hero section CSS */
  .hero_section_background {
    height: 35rem;
  }
  .hero_section_text_div {
    width: 94%;
    padding: 0rem 3rem 0rem 5rem;
  }
  .hero_section_text {
    font-size: 5vw;
    text-align: center;
    letter-spacing: 1vh;
  }
  .hero_section_btn {
    font-size: 2vw;
  }
  .card_section_main_div {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card_section_sub_div1 {
    width: 80%;
  }
}
@media only screen and (max-width: 480px) {
  /* Hero section CSS */
  .hero_section_background {
    height: 30rem;
  }
  .hero_section_text_div {
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;
  }
  .hero_section_text {
    font-size: 5vw;
    text-align: center;
    letter-spacing: 1vh;
  }
  .hero_section_btn {
    font-size: 2vw;
  }
  .card_section_main_div {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card_section_sub_div1 {
    width: 95%;
    padding: 1.5rem;
    gap: 0.5rem;
  }
}
